<!DOCTYPE html>
<html>
    <head>
        <title>Change Password</title>
    </head>

    <body>
        <h1>Change Password</h1>

        <form id="changePassword_form" method="post" action="/store/restricted/changePassword/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            New Password: <input type="password" name="newpassword1" value="" size="50" />
            <br />
            New Password Again: <input type="password" name="newpassword2" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>