{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Password</title>

        <link rel="stylesheet" type="text/css" href="{% static 'store/style_changePassword.css' %}" />
    </head>

    <body>
        <div class="changePassword-card">
        <h1>Change Password of {{username}}</h1>

        <form id="changePassword_form" method="post" action="/store/password/">
            {% csrf_token %}
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            New Password: <input type="password" name="newpassword1" value="" size="50" />
            <br />
            New Password Again: <input type="password" name="newpassword2" value="" size="50" />
            <br />

            <input type="submit" class="login login-submit" value="submit" />
        </form>


        </div>

    </body>
</html>