<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- templatemo 417 grill -->
<!-- 
Grill Template 
http://www.templatemo.com/preview/templatemo_417_grill 
-->
    <head>
        <meta charset="utf-8">
        <title>Home - uTunes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'store/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_style.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/testimonails-slider.css' %}">

        <script src="{% static 'store/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="home-account">
                                    <a href="/store/">Home</a>
                                    {% if user.is_authenticated %}
                                        <a href="/store/myaccount/">My orders</a>
                                        <a href="/store/password/">Change password</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    {% if user.is_authenticated %}
                                    Welcome, {{user.username}}.
                                    <a href="/store/logout/?next={{request.path}}">Logout</a>
                                    {% else %}
                                    <a href="/store/register/?next={{request.path}}">Sign Up</a> /
                                    <a href="/store/login/?next={{request.path}}">Log In</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="/store/"><img src="{% static 'store/images/logo.png' %}" title="Grill Template" alt="Grill Website Template" ></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="main-menu">
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search-box">
	                                <form name="search_form" class="search_form" action="/store/search/" method="post">
									    {% csrf_token %}
									    {{search_form.keyword}}
									    <input type="hidden" id="id_types" name="types" value='all' type="text">
									    <input type="submit" id="search-button"/>
									</form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            

            <div id="slider">
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <h1>Delicious Meals</h1>
                            <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                            <br><br>eget tellus luctus fermentum.</p>
                            <a href="single-post.html">Shop Now</a>
                        </div>
                      <img src="{% static 'store/images/slide1.jpg' %}" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Ice-cream Menus</h1>
                            <p>Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt consequat. Nullam 
                            <br><br>consectetur tempor neque vitae iaculis. Aliquam erat volutpat.</p>
                            <a href="single-post.html">More Details</a>
                        </div>
                      <img src="{% static 'store/images/slide2.jpg' %}" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>Healthy Drinks</h1>
                            <p>Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet 
                            <br><br>ornare massa, quis dapibus quam condimentum id.</p>
                            <a href="single-post.html">Get Ready</a>
                        </div>
                      <img src="{% static 'store/images/slide3.jpg' %}" alt="" />
                    </li>
                  </ul>
                </div>
            </div>


            <div id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Free Website Templates</h2>
                                <img src="{% static 'store/images/under-heading.png' %}" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <h4>Make an order</h4>
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-bullhorn"></i>
                                </div>
                                <h4>Promotions</h4>
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-bell"></i>
                                </div>
                                <h4>Ready to Serve</h4>
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <h4>Satisfaction</h4>
                                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<footer>
                <div class="container">
                    <div class="bottom-footer">
                        <p>Copyright © 2015 <a href="?">uTunes</a></p>
                    </div>
                    
                </div>
            </footer>

    
        <script src="{% static 'store/js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'store/js/vendor/jquery.gmap3.min.js' %}"></script>
        <script src="{% static 'store/js/plugins.js' %}"></script>
        <script src="{% static 'store/js/main.js' %}"></script>

    </body>
</html>