<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- templatemo 417 grill -->
<!-- 
Grill Template 
http://www.templatemo.com/preview/templatemo_417_grill 
-->
    <head>
        <meta charset="utf-8">
        <title>My orders - Product uTunes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'store/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_style.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/testimonails-slider.css' %}">

        <script src="{% static 'store/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="home-account">
                                    <a href="/store/">Home</a>
                                    {% if user.is_authenticated %}
                                        <a href="/store/myaccount/">My orders</a>
                                        <a href="/store/password/">Change password</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    {% if user.is_authenticated %}
                                    Welcome, {{user.username}}.
                                    <a href="/store/logout/?next={{request.path}}">Logout</a>
                                    {% else %}
                                    <a href="/store/register/?next={{request.path}}">Sign Up</a> /
                                    <a href="/store/login/?next={{request.path}}">Log In</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="/store/"><img src="{% static 'store/images/logo.png' %}"/></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="main-menu">
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search-box">
                                    <form name="search_form" class="search_form" action="/store/search/" method="post">
                                        {% csrf_token %}
                                        {{search_form.keyword}}
                                        <input type="hidden" id="id_types" name="types" value='all' type="text">
                                        <input type="submit" id="search-button"/>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>My orders</h2>
                                <span>Home / <a href="/store/myaccount/">My orders</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="product-heading">
                                <h2>App Ordered</h2>
                                <img src="{% static 'store/images/under-heading.png' %}" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="filters col-md-12 col-xs-12">
                            <ul id="filters" class="clearfix" style="padding-left: 0;">
                                <li><span class="filter" data-filter="all">All</span></li>
                                <li><span class="filter" data-filter=".purchased">Purchased</span></li>
                                <li><span class="filter" data-filter=".rent">Rent</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="Container" style="margin-top: 0px;">
                        {% if context_dict.app_list_purchased %}
                            {% for row in context_dict.app_list_purchased %}
                                <div class="col-md-3 col-sm-6 mix portfolio-item purchased">
                                    <div class="portfolio-wrapper">                
                                        <div class="portfolio-thumb">
                                            <a href="/store/product/{{row.0}}/"><img src="{% if row.3 %}{{row.3}}{% else %}{% with 'store/images/'|add:row.5|add:'.png' as image_static %}{% static image_static %}{% endwith %}{% endif %}" alt="" /></a>
                                        </div>  
                                        <div class="label-text">
                                            <h3><a href="/store/product/{{ row.0 }}/">{{ row.1 }}</a></h3>
                                            <p>{{ row.2 }}{% if row.4 %}{% else %}<span class="text-category"><a href="/store/product/{{ row.0 }}/">Rating Pending</a></span>{% endif %}</p>
                                        </div>
                                    </div>          
                                </div>
                            {% endfor %}
                        {% else %}
                            
                        {% endif %}

                        {% if context_dict.app_list_rent %}
                            {% for row in context_dict.app_list_rent %}
                                <div class="col-md-3 col-sm-6 mix portfolio-item rent">
                                    <div class="portfolio-wrapper">                
                                        <div class="portfolio-thumb">
                                            <a href="/store/product/{{row.0}}/"><img src="{% if row.3 %}{{row.3}}{% else %}{% with 'store/images/'|add:row.6|add:'.png' as image_static %}{% static image_static %}{% endwith %}{% endif %}" alt="" /></a>
                                        </div>  
                                        <div class="label-text">
                                            <h3><a href="/store/product/{{ row.0 }}/">{{ row.1 }}</a></h3>
                                            <p>{{ row.2 }}</br>expire on {{row.4}}{% if row.5 %}{% else %}<span class="text-category"><a href="/store/product/{{ row.0 }}/">Rating Pending</a></span>{% endif %}</p>
                                        </div>
                                    </div>          
                                </div>
                            {% endfor %}
                        {% else %}
                            
                        {% endif %}
                    </div> 
                </div>
            </div>

			<footer>
                <div class="container">
                    <div class="bottom-footer">
                        <p>Copyright © 2015 <a href="?">uTunes</a>. Template by <span class="blue">template</span><span class="green">mo</span>.</p>
                    </div>
                    
                </div>
            </footer>

    
        <script src="{% static 'store/js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'store/js/vendor/jquery.gmap3.min.js' %}"></script>
        <script src="{% static 'store/js/plugins.js' %}"></script>
        <script src="{% static 'store/js/main.js' %}"></script>

    </body>
</html>