<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

<p align="right">Welcome,{{username}}, <a href ="/store/homepage">home</a></p>
<a href ="/store/search/" >Back to search page</a>
{% if editable%}
{% endif %}
<H1>App Information<br></H1>
<H2>Name: {{appData.1}}<br></H2>
<p>Retail Price: {{appData.2}}</p>
<p>Rental Price: {{appData.3}}</p>
<p>Genre: {{appData.4}}</p>
<p>Device: {{appData.5}} </p>
<p>Release Date: {{appData.6}} </p>
<p>Description: {{appData.7}}</p>

{% if purchased%}
    <p>You have purchased this product. We are pleased to hear your feedback and rating.</p>
    <form action="/store/product/{{appData.0}}/feedback/" method="post" onsubmit="return confirm('Confirm to submit your feedback?');">
        {% csrf_token %}
        {{feedbackForm.FeedbackBox}}<br><br>
        <label>How would rate this app?</label>
        {{feedbackForm.RatingBox}}<br><br>
        <input type="submit" name="submit" value="Submit"/>
    </form>
{% else %}
    <p>You have not purchased this product. Click "purchase" button below to buy it</p>
    <form action="/store/product/{{appData.0}}/purchase/" method="post" onsubmit="return confirm('Confirm to make your payment?');">
        {% csrf_token %}
        <input type="submit" name="purchase" value="Purchase"/>
    </form>
    {% if rented %}
        <p>Currently you have rented this item and it is due on {{dueDate}}</p>
    {%else%}
        <p>Alternately, you may wish to rent this product.</p>
        <form action="/store/product/{{appData.0}}/rent/" method="post" onsubmit="return confirm('Confirm to make your payment?');">
            {% csrf_token %}
            <label>Please select a returning date:<br></label>
            {{rentForm.DateBox}}
            <input type="submit" name="Rent" value="Rent"/>
        </form>
    {% endif %}
{% endif %}

<H3>Other users experience and rating with this app</H3>
{% if othersRating %}
    <dl>
        {% for row in othersRating %}
        <dt>User: {{row.0}}</dt>
        <dt>Rating: {{row.1}}</dt>
        <dd>{{row.2}}</dd>
        <dd><br></dd>
        {% endfor %}
    </dl>
{% else %}
    <p>Other users have not rated this app yet</p>
{% endif %}

</body>
</html>