<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- templatemo 417 grill -->
<!-- 
Grill Template 
http://www.templatemo.com/preview/templatemo_417_grill 
-->
    <head>
        <meta charset="utf-8">
        <title>{{app_data.1}} - uTunes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'store/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_style.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/testimonails-slider.css' %}">

        <script src="{% static 'store/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="home-account">
                                    <a href="/store/">Home</a>
                                    {% if user.is_authenticated %}
                                        <a href="/store/myaccount/">My orders</a>
                                        <a href="/store/password/">Change password</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cart-info">
                                    {% if user.is_authenticated %}
                                    Welcome, {{user.username}}.
                                    <a href="/store/logout/?next={{request.path}}">Logout</a>
                                    {% else %}
                                    <a href="/store/register/?next={{request.path}}">Sign Up</a> /
                                    <a href="/store/login/?next={{request.path}}">Log In</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="/store/"><img src="{% static 'store/images/logo.png' %}" /></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="main-menu">
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search-box">
                                    <form name="search_form" class="search_form" action="/store/search/" method="post">
                                        {% csrf_token %}
                                        {{search_form.keyword}}
                                        <input type="hidden" id="id_types" name="types" value='all' type="text">
                                        <input type="submit" id="search-button"/>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>{{app_data.1}}</h2>
                                <span>Home / {{app_data.4}} / <a href="/store/product/{{app_data.0}}">{{app_data.1}}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="product-post">
                <div class="container">
                    <div id="single-blog" class="page-section first-section">
                        <div class="container">
                            <div class="row">
                                <div class="product-item col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h3>{{app_data.1}}</h3>
                                                    <span class="subtitle">{% for i in app_data.9 %}&#9733;{% endfor %}</span>
                                                </div>
                                                <p>{{app_data.7}}</p>
                                            </div>
                                            <div class="comments-title">
                                                <div class="comment-section">
                                                    <h4>{{ rating_entries|length }} comments</h4>
                                                </div>
                                            </div>
                                            <div class="all-comments">
                                                {% if rating_entries %}
                                                    {% for row in rating_entries %}
                                                        {{row.10}}
                                                        <div class="view-comments">
                                                            <div class="comments">
                                                                <div class="comment-body">
                                                                    <h6>{{row.0}}</h6>
                                                                    <span class="date">{% for i in row.1 %}&#9733;{% endfor %}</span>
                                                                    {% if row.2 %}<p>{{row.2}}</p>{% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                {% endif %}
                                            </div>
                                            {% if purchased or rent  %}
                                            {% if not reviewed%}
                                                <div class="leave-comment">
                                                    <div class="leave-one">
                                                        <h4>Rate this product</h4>
                                                    </div>
                                                </div>
                                                <div class="leave-form">
                                                    <form action="/store/product/{{app_data.0}}/feedback/" method="post" class="leave-comment">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                        <div class="email col-md-4">
                                                            {% for radio in feedback_form.rating %}
                                                                <label for="{{ radio.id_for_label }}">
                                                                    {{ radio.choice_label }}
                                                                    <span class="radio">{{ radio.tag }}</span>
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="row">        
                                                            <div class="text col-md-12">
                                                                {{feedback_form.review}}
                                                            </div>   
                                                        </div>                              
                                                        <div class="send">
                                                            <button type="submit">Send</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3 col-md-offset-1">
                                            <div class="side-bar">
                                                
                                                <div class="news-letters">
                                                    <h4>Option</h4>
                                                    <div class="archives-list">
                                                        {% if purchased %}
                                                            <p>You have purchased this item.</p>
                                                        {% else %}
                                                            <form action="/store/product/{{app_data.0}}/purchase/" method="get">
                                                                {% csrf_token %}
                                                                <button type="submit" name="purchase" value="Purchase" class="btn btn-primary btn-block">Purchase for ${{app_data.2}}</button>
                                                            </form>
                                                            {% if app_data.3 %}
                                                                {% if rent %}
                                                                    <p>Currently you have rented this item and it is due on {{expire_date}}.</p>
                                                                {%else%}
                                                                    </br>
                                                                    <form action="/store/product/{{app_data.0}}/rent/" method="get">
                                                                        {% csrf_token %}
                                                                        <button type="submit" name="rent" value="Rent" class="btn btn-success btn-block">7-Day Rental for ${{app_data.3}}</button>
                                                                    </form>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>        
                                                </div>
                                                </br>
                                                
                                                <div class="recent-post">
                                                    <h4>Product Information</h4>
                                                    <div class="posts">
                                                        <div class="recent-post">
                                                            <div class="recent-post-info">
                                                                <img src="{% if app_data.8 %}{{app_data.8}}{% else %}{% with 'store/images/'|add:app_data.10|add:'.png' as image_static %}{% static image_static %}{% endwith %}{% endif %}" alt="" />
                                                                <h6>Retail Price: <span>${{app_data.2}}</span></h6>
                                                                {% if app_data.3 %}
                                                                <h6>7-Day Rental Price: <span>${{app_data.3}}</span></h6>
                                                                {% endif %}
                                                                <h6>Device: <span>{{app_data.5}}</span></h6>
                                                                <h6>Release Date: <span>{{app_data.6}}</span></h6>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>   
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>


            <footer>
                <div class="container">
                    <div class="bottom-footer">
                        <p>Copyright © 2015 <a href="?">uTunes</a>. Template by <span class="blue">template</span><span class="green">mo</span>.</p>
                    </div>
                    
                </div>
            </footer>

    
        <script src="{% static 'store/js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'store/js/vendor/jquery.gmap3.min.js' %}"></script>
        <script src="{% static 'store/js/plugins.js' %}"></script>
        <script src="{% static 'store/js/main.js' %}"></script>

    </body>
</html>