

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome {{username}}!</title>
    </head>

    <body>
    	<a href="/store/{{username}}/changePassword/">Change Password!</a><br />
        <h1>Welcome {{username}}!</h1>
        <h2>Products:</h2>
        {% if app_list_purchased %}
    	<ul>
    		{% for app in app_list_purchased %}
       	 	<li>{{ app }}</li>
    		{% endfor %}
    	</ul>
		{% else %}
    		<p>No Apps have been bought!</p>
		{% endif %}

        {% if app_list_rent %}
        <ul>
            {% for app in app_list_rent %}
            <li>{{ app }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No Apps have been Rented!</p>
        {% endif %}



    </body>
</html>