<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<form action="/store/product/{{appID}}/edit/" method="post">    
    <label>App name:  </label>
    {{form.AppName}}
    <br/><br/>
    <label>Retail Price:  </label>
    {{form.RetailPrice}}
    <br/><br/>
    <label>Rent Price:  </label>
    {{form.RentPrice}}
    <br/><br/>
    <label>Genre:  </label>
    {{form.Genre}}
    <br/><br/>
    <label>Release Date:  </label>
    {{form.ReleaseDate}}
    <br/><br/>
    <label>Description:<br/></label>
    {{form.Description}}
    <br/><br/>
    <input type="submit" name="submit" value="Submit"/>
</form>
</body>
</html>